body{
    font-family: Arial, Helvetica, sans-serif;
}

#form{
    margin: 20px auto;
    width: 50%;
}

#form div{
    margin-top: 10px;
    width: 100%; 
}

#form div label{
    display: inline-block;
    margin: 0px;
    width: 19%;
}

#form div label input{
    display: inline;
}

#form div input{
    margin: 0px;
    display: inline-block;
    border-style: groove;
    min-width: 79%;
    border-radius: 5px;
}

#form div input[type='radio']{
    min-width: fit-content;
}

#form #submitDiv{
    text-align: left;
}
#submit{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    border-radius: 10px;
}

#table{
    width: 80%;
    margin: 10px auto;
}

#table,#table th,#table td{
    border-collapse: collapse;
}

#table td{
    border: 1px solid #aaa;
}

#table th{
    border: 2px solid #999;
}

#table th,#table td{
    width: 14%;
    text-align: center;
}

div.scroll{
    max-height: 20rem;
    overflow-y: auto;
}

#cuerpoTabla tr:nth-child(even){
    background-color: #ecedf8;
}

#cuerpoTabla tr:hover{
    background-color: #e3e4f0;
}

button.borrar{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 5px;
}